.community-channel-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .community-channel-list__list {
      height: 100%;
      overflow-y: scroll;
      flex: 1;
      margin-left: 10px;
    }
  
    .community-channel-list__title {
      padding: 20px;
      box-sizing: border-box;
      font-size: 13px;
      font-weight: 900;
      color: #8e9297 !important;
      background-color: rgb(47, 49, 54) ;
      text-transform: uppercase;
      position: absolute;
      display: block;
      width: 240px;
    }

    .community-channel-list__placeholder {
      width: 200px;
      height: 16px;
      text-align: center;
      margin-left: 32px;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: var(--gray-2);
    }
  
    .community-channel-list__footer {
      padding: 16px;
      box-sizing: border-box;
      display: flex;
      background-color: rgb(41, 43, 47) !important;
    }
  }