.App {
  Font-family: sans-serif;
  Text-align: center;
  height: 100vh;  
  width: 100vw;    
}

.customized-app {
  height: 100vh;
}

.sendbird-theme--light
.sendbird-channel-preview--active
.sendbird-channel-preview__content__upper__header__channel-name {
    color: white;
  }


div.sendbird-message {
  text-align: left;

}

/* selected chat color */
div.sendbird-channel-preview--active {
 background-color: rgb(109, 111, 117) !important; 
}
/* selected chat's msg preview text color */
div.sendbird-channel-preview--active div.sendbird-channel-preview__content__lower span {
  color: rgb(109, 111, 117);
}

/* sidebar chanels */
div.sendbird-channel-list,
/* sidebar banner */
div.sendbird-channel-header  {
  background-color: #474a50 !important;
}

/* channel lists individuals/groups icon */
div.sendbird-chat-header--avatar--group-channel.sendbird-avatar,
div.sendbird-avatar-img  {
  width: 30px !important;
  height: 30px !important;
}

/* channel lists individuals/groups image in icon */
div.sendbird-avatar-img.sendbird-image-renderer .sendbird-image-renderer__image{
  width: 30px !important;
  height: 30px !important;
}

/* sidebar channel list preview avatar  */
div.sendbird-channel-preview__avatar{
  width: 10% !important;
  height: 35px !important;
}

/* sidebar channel list group box  */
div.sendbird-channel-preview {
  height: 60px;
  padding: 20px;
}

/* chat  */
div.sendbird-conversation,
/* top banner */
div.sendbird-chat-header,
/* msg background */
div.sendbird-user-message__text-balloon__inner{
   background-color: rgb(63, 65, 68) !important;
}

/* options dropdown for a msg */
ul.sendbird-dropdown__menu{
    background-color: rgb(32, 32, 34) !important;
}

/* bubble around emoji reactions outgoing msg */
.sendbird-theme--light .sendbird-user-message--outgoing .sendbird-user-message__text-balloon .sendbird-user-message__text-balloon__inner .sendbird-user-message__text-balloon__inner__emoji-reactions{
  border: none;
}

/* bubble around emoji reactions incoming msg */
.sendbird-theme--light .sendbird-user-message--incoming .sendbird-user-message__text-balloon .sendbird-user-message__text-balloon__inner .sendbird-user-message__text-balloon__inner__emoji-reactions{
 border: none; 
}

/* add group channel button top left */
/* ITS AN SVG TAG SO ITS AN IMAGE I CANT CHANGE THE COLOR */
div.sendbird-channel-header__right-icon {
  background-color: black;
}

/* channel list selected channel's timestamp   */
/* div.sendbird-channel-preview--active ,
div.sendbird-channel-preview__content ,
div.sendbird-channel-preview__content__upper ,
div.sendbird-channel-preview__content__upper__header ,
span.sendbird-channel-preview__content__upper__last-message-at {
  color: rgb(109, 111, 117) !important;
} */

/* channel list timestamp -> don't want to include it so make it not visable*/ 
/* .sendbird-channel-preview__content .sendbird-channel-preview__content__upper__last-message-at,
.sendbird-channel-preview__content .sendbird-channel-preview__content__upper__header__total-members  {
  color: #474a50 !important;
} */

/* top left - current user's ID next to name */
/* .sendbird-channel-header__title__right .sendbird-channel-header__title__right__user-id {
  color: #474a50 !important;
} */

/* msg preview in channel list -> make it not visable*/
.sendbird-theme--light .sendbird-label--color-onbackground-3 {
  color: #474a50;
}

/* edit profile background  */
div.sendbird-modal__content{
  background-color: #474a50 ;
  border: 2px solid #2f3135;
  padding: 10px;
}

/* edit profile box */
div.sendbird-modal__header,
div.sendbird-modal__body,
div.sendbird-modal__footer{
  text-align: center;
}

/* Channel list names */
.sendbird-label--subtitle-2{
  font-size: 16px;
}

