.community-app {
  display: flex;
  flex-direction: row;
  height: 99vh;
  font-family: "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: rgb(47, 49, 54) ;
  color: rgb(155, 151, 151);
  flex: 1;
}

/* community/open channel under whole sidebar */
.community-app{
  flex: 0 1 auto;
}

/* whole sidebar container */
div.sendbird-app__channellist-wrap {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* sidebar header for private channel list */
.sendbird-channel-list__header{
  display: none;
}

/* Added to open-channel-preview */
/* .community-channel-list .channel-preview:hover {
  background-color: var(--sendbird-light-background-50) !important;
  color: white;
  border-radius: 4px;
} */

/* community channel individual channel preview */
.channel-preview{
  margin-top: 10px;
  width: 90%;
}

/* conversation chat opened */
.sendbird-app__conversation-wrap{
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* community channel's chat window */
.community-open-channel__conversation-wrap {
  flex: 1;
  background-color:rgb(54, 57, 63);
}

/* community channel list's # icon */
.channel-preview .channel-preview__avatar{
  width: 10px !important;
  -webkit-transform:scale(2.2,1.5);
  -moz-transform:scale(2.2,1.5);
  -ms-transform:scale(2.2,1.5);
  -o-transform:scale(2.2,1.5);
  transform:scale(2.2,1.5);
  height: 20px;
  font-weight: 350;
}

/* insert content before the channel preview name */
.channel-preview__avatar::before{
  content: "#"
}

/* channel list channel name */
.channel-preview__inner-right .channel-preview__name {
  /* font-size: 14px ;
  font-weight: 600 ;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14; */
  padding-left: 5px;
}

/* community channel selector on current channel left tab */
.channel-preview.channel-preview--selected .channel-preview__selection{
  display: none;
}

/* current selected community channel  */
.channel-preview.channel-preview--selected{
  background-color: var(--sendbird-light-background-50) !important;
  color: white;
  border-radius: 4px;
  width: 90%;
}

.community-channel-list__list{
  margin-left: 10px;
}

/* community channel container for preview channel name */
.channel-preview__inner-right{
  padding-left: 5px !important;
}

/* community channel container for icon */
.channel-preview__inner-left{
  padding-top: 14px !important;
 /* padding-left: 20px !important; */
}

/* ONLY chat header's icon */
.sendbird-openchannel-conversation-header .sendbird-image-renderer__image,
.sendbird-chat-header .sendbird-image-renderer__image{
  display: none;
}

.sendbird-chat-header__left .community-channel-preview__avatar  {
  font-size: 1.25rem;
  color: white;
}

.openchannel-conversation-header-icon{
  font-size: 1.25rem;
  color: white;
  font-weight: 900;
}

/* img tag for conversation header */
.sendbird-image-renderer__hidden-image-loader{
  display: none;
}
/* div tag for conversation header on top of img tag */
.sendbird-openchannel-conversation-header__left__cover-image.sendbird-avatar .sendbird-avatar-img.sendbird-image-renderer{
  display: none;
}

/* avatar img in channel preview */
.channel-preview .channel-preview__avatar img{
  display: none;
}

/* avatar img in chat conversation */
.sendbird-openchannel-conversation-header__left__cover-image.sendbird-avatar::after{
  content: "#";
}

.sendbird-openchannel-conversation-header__left__cover-image.sendbird-avatar{
  color: #72767d;
  height: revert !important;
  width: revert !important;
  padding: 8px 20px !important;
  -webkit-transform:scale(1.8,1.2);
  -moz-transform:scale(1.8,1.2);
  -ms-transform:scale(1.8,1.2);
  -o-transform:scale(1.8,1.2);
  transform:scale(2.6,1.6);
  font-weight: 350;
}

/* participant count channel conversation header  */
.sendbird-openchannel-conversation-header__left__sub-title.sendbird-label.sendbird-label--body-2.sendbird-label--color-onbackground-2{
  display: none;
}

/* channel conversation header text */
.sendbird-openchannel-conversation-header__left__title.sendbird-label.sendbird-label--h-2.sendbird-label--color-onbackground-1{
  padding-top: 8px ;
}

.sendbird-message-input--textarea{
  border: none !important;
  background-color: rgba(84, 84, 90, 0.767) !important;
}

/* default 'enter message' saying in chat input box */
.sendbird-message-input--placeholder.sendbird-label.sendbird-label--body-1.sendbird-label--color-onbackground-3{
  color: rgb(168, 164, 164);
}

/* input message attachment button */
.sendbird-message-input .sendbird-icon.sendbird-icon-color--content-inverse::before{
  content: "+";
  color: rgb(55, 55, 59) ;
}

.icon-attach_svg__fill{
  display: none;
}

.sendbird-theme--light .sendbird-iconbutton{
  background-color: rgb(168, 164, 164);
  font-weight: bold;
  border-radius: 25px;
  font-size: 20px;
}
.sendbird-theme--light .sendbird-iconbutton:hover{
  background-color: rgb(197, 193, 193);
}

.sendbird-message-input .sendbird-message-input--attach{
  padding: 4px 0px;
}

.sendbird-openchannel-footer{
  margin-top: 20px;
}

/* channel text name in list & chat header channel text name*/
.channel-preview__name,
.sendbird-openchannel-conversation-header__left__title.sendbird-label.sendbird-label--h-2.sendbird-label--color-onbackground-1{
  text-transform: lowercase;
}

/* settings bar */
.sendbird-openchannel-settings{
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(71, 74, 80); 
  overflow-x: hidden;  
 }
 
 .sendbird-accordion__panel-icon-left, .sendbird-accordion__panel-icon-right {
   top: revert;
 }

.sendbird-participants-accordion.sendbird-accordion__panel-header{
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  padding: 12px 22px 10px 56px;
 }

 /* edit settings sidebar, url  */
 .sendbird-openchannel-settings__url .sendbird-openchannel-settings__url-value.sendbird-label.sendbird-label--subtitle-2 {
  font-size: revert;
  font-weight: revert;
  color: white;
 }

/* edit settings sidebar, channel name   */
.sendbird-openchannel-settings__profile .sendbird-openchannel-profile .sendbird-openchannel-profile--inner .sendbird-openchannel-profile__title.sendbird-label.sendbird-label--subtitle-2.sendbird-label--color-onbackground-1{
  font-size:revert;
}

.sendbird-openchannel-user-message .sendbird-openchannel-user-message__right .sendbird-openchannel-user-message__right__top .sendbird-openchannel-user-message__right__top__sender-name.sendbird-label.sendbird-label--caption-2{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 210px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -0.2px;
  color: white;
}

/* duplicate this for the message's text (p tag) */
.sendbird-openchannel-user-message__right .sendbird-openchannel-user-message__right__bottom .sendbird-openchannel-user-message__right__bottom__message.sendbird-label.sendbird-label--body-1 {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.sendbird-openchannel-user-message__right .sendbird-openchannel-user-message__right__top .sendbird-openchannel-user-message__right__top__sender-name.sendbird-label.sendbird-label--caption-2{
  width: revert !important;
  padding-right: 5px;
}