body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.server-headline{
  font-family : "Ginto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size : 15px;
  font-style :normal;
  font-weight: 600;
  background-color: #2f3136;
  color: white;
  margin: 0 ;
  padding: 22px 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.app-wrapper {
  height: 100vh;
}

.customized-app {
  height: 100%;
  width: 100%;
}

.channel-selector {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.channel-selector__icons {
  display: flex;
}

.sendbird-app__channellist-wrap,
.sendbird-channel-list,
.customized-channelpreview-item{
  width: 240px !important;
}

.MuiCard-root {
  overflow: revert !important;
}

.customized-channelpreview-item .MuiPaper-root.MuiCard-root.MuiPaper-elevation1{
  background-color: #2f3136 ;
  color: rgb(155, 151, 151);
  width: 90%;
  margin: 10px;
}

.customized-channelpreview-item .MuiPaper-root.MuiCard-root.makeStyles-selected-1.MuiPaper-elevation1{
  background-color: var(--sendbird-light-background-50) !important;
  color: white !important;
  border-radius: 4px;
}


.customized-channelpreview-item .MuiCardHeader-root {
  height: 34px;
  padding: 0px 12px ;
}

.customized-channelpreview-item .MuiCardHeader-root:hover {
  background-color: var(--sendbird-light-background-50) !important;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  padding: 0px 12px;
}

/* incoming message entire wrap on hover*/
.admin-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded:hover,
.user-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded:hover,
.admin-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded:focus,
.user-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded:focus {
  background-color: rgb(63, 67, 73) ;
  padding: 5px;
}

/* incoming message entire wrap */
.admin-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded,
.user-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
  background-color: rgb(71, 74, 80);
  color: white;
  padding: 5px;
}

/* user message's text */
.user-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded .MuiCardContent-root{
  padding: 0px 40px;
}

/* user message's name */
.user-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded .MuiCardHeader-root{
  margin-bottom: 2px;
  padding: 0;
}
.admin-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded{
  margin-top: 20px;
}

.admin-message .MuiTypography-root.MuiTypography-body1.MuiTypography-colorTextSecondary{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 210px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -0.2px;
  color: white;
  margin-left: 40px;
}

.admin-message .MuiTypography-root.MuiTypography-body2{
  margin-left: 40px;
}

.sendbird-conversation__messages .sendbird-conversation__scroll-container .sendbird-conversation__messages-padding {
  padding-left: 15px;
}

.user-message__options-btn,
.sendbird-channel-list__body .MuiAvatar-img,
.sendbird-channel-list__body .MuiTypography-root.MuiTypography-caption.MuiTypography-colorTextSecondary,
.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeSmall,
.sendbird-chat-header .sendbird-chat-header--avatar--group-channel.sendbird-avatar .sendbird-avatar-img.sendbird-image-renderer,
.sendbird-channel-header__title__left .sendbird-avatar,
.sendbird-channel-header__title__right .sendbird-channel-header__title__right__user-id.sendbird-label.sendbird-label--body-2.sendbird-label--color-onbackground-2,
.sendbird-channel-header__title__right .sendbird-channel-header__title__right__name.sendbird-label.sendbird-label--subtitle-2.sendbird-label--color-onbackground-1{
  display: none;
}

.user-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded .MuiCardHeader-root .MuiCardHeader-avatar ,
.sendbird-channel-list__body .MuiCardHeader-avatar{
  margin-right: 0 !important;
}

/* private channel wrap behind list of channel sidebar */
.private-channel-list{
  display: flex;
  height: 99vh;
  flex-direction: column;
  font-family : "Ginto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight :600;
  background-color: #2f3136;
  color:  rgb(155, 151, 151);
  flex: 1;
}

/* users name in chat window's on top of msg sent */
.user-message .MuiCardHeader-content .MuiTypography-root.MuiCardHeader-title.MuiTypography-body2.MuiTypography-displayBlock{
  text-transform: none !important;
  padding-left: revert;
}

/* private channel's chat window */
.group-channel__conversation-wrap {
  flex: 1;
}

/* outgoing chat message */
.sendbird-user-message--outgoing{
  display: flex !important;
  width: 100%;
}

/* timestamp on message */
.sendbird-message-status__text.sendbird-label {
  float: right !important;
}

/* message box wrapper */
.sendbird-user-message__text-balloon{
  width: 100% !important;
}

/* box only around text for outgoing msg*/
.sendbird-user-message__text-balloon__inner__text-place__text.sendbird-label.sendbird-label--body-1.sendbird-label--color-oncontent-1{
  display: "" !important;
}

.sendbird-reaction-badge .sendbird-reaction-badge__inner{ 
  background-color: rgb(54, 57, 63) !important;
  border-radius: 10px;
}

.sendbird-user-message--incoming{
  max-width: 100% !important;
}

.sendbird-user-message--incoming .sendbird-user-message__avatar,
.sendbird-user-message__sent-at.sendbird-label.sendbird-label--caption-3.sendbird-label--color-onbackground-2,
.sendbird-user-message--incoming .sendbird-user-message__right-padding .sendbird-user-message__sent-at{
  bottom: revert !important;
}

.sendbird-chat-header .sendbird-chat-header--avatar--group-channel.sendbird-avatar::before,
.customized-channelpreview-item .MuiAvatar-root.MuiAvatar-circular::before{
  content: "#" !important;
}

.sendbird-channel-header .sendbird-channel-header__title {
  width: 200px !important;
  height: 20px !important;
}

.customized-channelpreview-item .MuiAvatar-root.MuiAvatar-circular{
  width: 15px !important;  
  -webkit-transform:scale(1.8,1.2);
  -moz-transform:scale(1.8,1.2);
  -ms-transform:scale(1.8,1.2);
  -o-transform:scale(1.8,1.2);
  transform: scale(1.8,1.2);
  height: 20px;
  font-weight: 350;
  font-family: "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.admin-message .MuiCardContent-root .MuiAvatar-root.MuiAvatar-circular .MuiAvatar-img,
.user-message .MuiCardHeader-avatar .MuiAvatar-root.MuiAvatar-circular .MuiAvatar-img{
  display: table-cell;
  width: 28px;
  height: 28px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
}

.MuiPaper-root.MuiCard-root.MuiPaper-elevation1 .MuiAvatar-root {
  height: revert;
  overflow: visible !important;
}

.MuiCardContent-root .MuiAvatar-root.MuiAvatar-circular,
.MuiCardHeader-avatar .MuiAvatar-root.MuiAvatar-circular{
  display: revert;
}

.sendbird-chat-header .sendbird-chat-header--avatar--group-channel.sendbird-avatar{
  color: #72767d;
  height: revert !important;
  width: revert !important;
  padding-left: 15px;
  padding-right: 10px;
  -webkit-transform:scale(1.8,1.2);
  -moz-transform:scale(1.8,1.2);
  -ms-transform:scale(1.8,1.2);
  -o-transform:scale(1.8,1.2);
  transform:scale(2.6,1.6);
  font-weight: 350;
}

.sendbird-chat-header {
  border-bottom: 1px solid var(--sendbird-light-onlight-04) !important;
}

.sendbird-chat-header__left__title.sendbird-label.sendbird-label--h-2.sendbird-label--color-onbackground-1{
  padding-left: 8px;
}

.MuiTypography-root.MuiCardHeader-title.MuiTypography-body2.MuiTypography-displayBlock{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 600;
  width: 80%;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -0.2px;
}

.MuiPaper-elevation1{
  box-shadow: revert !important;
}

.sendbird-conversation__footer{
  margin-top: 15px;
}

.MuiCardHeader-root .MuiCardHeader-content .MuiTypography-root.MuiCardHeader-title.MuiTypography-body2.MuiTypography-displayBlock,
.sendbird-chat-header__left__title.sendbird-label.sendbird-label--h-2.sendbird-label--color-onbackground-1{
  text-transform: lowercase;
}

.sendbird-message.sendbird-message--incoming{
  width: 1186px;
}

.sendbird-app__settingspanel-wrap{
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(71, 74, 80); 
  overflow-x: hidden;  
}

.sendbird-channel-settings__members-list.sendbird-accordion__panel-header .sendbird-badge{
  position: revert;
  margin-left: 10px;
}

.sendbird-channel-settings__operators-list.sendbird-accordion__panel-header,
.sendbird-channel-settings__members-list.sendbird-accordion__panel-header,
.sendbird-channel-settings__muted-members-list.sendbird-accordion__panel-header,
.sendbird-channel-settings__banned-members-list.sendbird-accordion__panel-header{
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  padding: 12px 22px 10px 56px;
}

.sendbird-channel-settings__accordion-icon.sendbird-icon.sendbird-icon-color--primary .icon-members_svg__fill,
.sendbird-channel-settings__accordion-icon.sendbird-icon.sendbird-icon-color--primary .icon-operator_svg__fill,
.sendbird-channel-settings__accordion-icon.sendbird-icon.sendbird-icon-color--primary .icon-mute_svg__fill,
.sendbird-channel-settings__accordion-icon.sendbird-icon.sendbird-icon-color--primary .icon-ban_svg__fill,
.sendbird-channel-settings__accordion-icon.sendbird-icon.sendbird-icon-color--primary .icon-freeze_svg__fill{
  fill: white;
}

.sendbird-user-list-item--small:hover .sendbird-user-list-item--small__operator, .sendbird-user-list-item--small.sendbird-icon--pressed .sendbird-user-list-item--small__operator {
  display: inline-block !important;
}

.sendbird-channel-profile__edit.sendbird-color--onbackground-1.sendbird-textbutton--not-underline .sendbird-label.sendbird-label--button-1.sendbird-label--color-primary{
  color: revert;
}

#sendbird-modal-root .sendbird-modal .sendbird-modal__content{
  background-color: var(--sendbird-light-background-50);;
  padding: 40px;
}

#sendbird-modal-root .sendbird-modal{
  background-color: rgba(62, 63, 63, 0.9);
}

/*private channel settings sidebar, on click of edit button -> wrap with editing options */
#sendbird-modal-root .sendbird-modal .sendbird-modal__content .sendbird-modal__footer{
  padding: 20px 0px;
}

/*private channel settings sidebar, on click of edit button -> save button */
.sendbird-modal__footer .sendbird-button.sendbird-button--primary.sendbird-button--big{
  border: 1px solid var(--sendbird-light-onlight-03) !important; 
  margin-left: 8px;
}

/*private channel settings sidebar, on click of edit button -> cancel button */
.sendbird-modal__footer .sendbird-button.sendbird-button--secondary.sendbird-button--big:hover{
  background-color: var(--sendbird-light-primary-400);
}

/* settings sidebar wrap */
.sendbird-app__settingspanel-wrap .sendbird-channel-settings,
.sendbird-channel-profile,
.sendbird-channel-settings__freeze,
.sendbird-channel-settings__panel-item.sendbird-channel-settings__leave-channel {
  background-color: #2f3136 !important;
}

/* private channel header */
.sendbird-channel-list .sendbird-channel-list__header{
  display: revert;
  height: 45px;
  min-height: 45px;
}

.sendbird-channel-header__title__right::after{
  content: "Private Channels";
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 900;
  color: rgb(155, 151, 151) !important;
  background-color: #2f3136;
  text-transform: uppercase;
}

.sendbird-channel-header__title:active{
  border: revert !important;
}

/* private channels wrapper box */
.sendbird-channel-list,
.sendbird-channel-list .sendbird-channel-list__header .sendbird-channel-header .sendbird-channel-header__title:hover{
  background-color: revert !important;
}

.sendbird-channel-list .sendbird-channel-list__header .sendbird-channel-header  {
  padding: 20px ;
  background-color: revert;
  width: revert;
  border-bottom: none !important;
}

.sendbird-chat-header .sendbird-chat-header__right .sendbird-chat-header__right__info.sendbird-iconbutton{
  background-color: rgb(71, 74, 80);
}

/* private channel's settings sidebar button wrap */
.sendbird-channel-header .sendbird-channel-header__right-icon .sendbird-iconbutton,
.sendbird-channel-header .sendbird-channel-header__right-icon .sendbird-iconbutton:hover {
  background-color: #2f3136;
  padding: revert;
}

/* private channel's settings sidebar button & create new channel button */
.sendbird-chat-header .sendbird-chat-header__right .sendbird-chat-header__right__info.sendbird-iconbutton .icon-info_svg__fill,
.sendbird-channel-header .sendbird-channel-header__right-icon .sendbird-iconbutton .sendbird-iconbutton__inner .sendbird-icon.sendbird-icon-color--primary .icon-create_svg__fill{
  fill: rgb(142, 146, 151) ;
}

.sendbird-input__placeholder.sendbird-label.sendbird-label--body-1.sendbird-label--color-onbackground-3{
  display: block;
  color: white;
  padding-top: 5px;
}

.sendbird-label--caption-3{
  font-size: revert;
}

.sendbird-theme--light .sendbird-checkbox input:checked ~ .sendbird-checkbox--checkmark,
.sendbird-theme--light .sendbird-checkbox .sendbird-checkbox--checkmark:after{
  background-color: white !important;
}

/* Settings sidebar:  Members dropdown -> Member options (...)*/ /* Settings sidebar: Member # count */ /* Settings sidebar: close sidebar bttn */
.sendbird-user-list-item--small__action .sendbird-context-menu .sendbird-user-message__more__menu.sendbird-iconbutton,
.sendbird-channel-settings__members-list.sendbird-accordion__panel-header .sendbird-badge,
.sendbird-channel-settings__header-icon .sendbird-iconbutton {
  background-color: rgb(47, 49, 54) !important;
}

.sendbird-message-input--attach.sendbird-iconbutton  {
  left: 12px;
  top: 14px;
  height: 28px !important;
  width: 28px !important;
  padding: 2px 0px !important;
}

.sendbird-message-input .sendbird-message-input--textarea{
  border-radius: 15px !important;
}

.sendbird-message-input .sendbird-message-input--placeholder{
  left: 50px !important;
}

.user-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded:hover .user-message__options-btn,
.user-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded:active .user-message__options-btn{
  background-color: #2f3136;
  height: 32px;
  width: 32px;
  border-radius: 25px;
  border: none;
  float: right;
  position: absolute;
  display: inline-block;
  position:absolute;
  right: 10px;
  top: 8px;
  font-weight: bold;
  cursor: pointer;
}

.icon-more_svg__fill{
  fill: var(--sendbird-light-onlight-01);
}

.MuiCardActions-root.MuiCardActions-spacing{
  cursor: pointer;
}

.customized-message-item{
  position: relative;
}

.sendbird-iconbutton,
.admin-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded .MuiCardContent-root{
  padding: 0px;
}

.sendbird_dropdown_menu {
  float: right;
  padding: 0px;
  display: inline;
  margin: 0px;
  position:relative;
  z-index: 4;
  box-shadow: var(--sendbird-light-shadow-02);
  background-color: var(--sendbird-light-background-50);
  min-width: 140px;
  padding: 8px 0px;
  border-radius: 4px;
  list-style: none;
}

.dropdown__menu-item {
  cursor: pointer;
  white-space: nowrap;
  padding: 8px 16px;
}

.dropdown__menu-item-text{
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -0.2px;
  font-family: var(--sendbird-font-family-default);
}

.MuiFormControl-root.MuiTextField-root{
  border-radius: 4px;
}

.user-message__text-area .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-formControl.MuiInputBase-multiline.MuiFilledInput-multiline{
  padding: 18px 64px 18px 16px;
  margin-top: 10px;
  border-radius: 15px;
  width: 100%;
  background-color: rgba(84, 84, 90, 0.767);
}

.user-message__text-area  .MuiFormControl-root.MuiTextField-root{
  width: 100%;
}

.MuiFilledInput-underline:before{
  border-bottom: none !important;
}

.user-message__text-area .MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputMultiline.MuiFilledInput-inputMultiline{
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  height: 56px;
  overflow-y: hidden;
  letter-spacing: normal;
  box-sizing: border-box;
  resize: none;
  font-family: var(--sendbird-font-family-default);
}

textarea,
textarea:focus {
  caret-color: white !important;
}
 
.sendbird-button.sendbird-button--secondary.sendbird-button--small:hover{
  border: 1px solid var(--sendbird-light-onlight-03);
}

.sendbird-message-input--edit-action__cancel.sendbird-button.sendbird-button--secondary.sendbird-button--small:hover{
  background-color: var(--sendbird-light-primary-400);
}

.sendbird-accordion .sendbird-accordion__list .sendbird-channel-settings__empty-list.sendbird-label.sendbird-label--subtitle-2.sendbird-label--color-onbackground-3,
.sendbird-modal__body .sendbird-label.sendbird-label--caption-1,
.sendbird-theme--light .sendbird-label--color-primary,
.MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputMultiline.MuiFilledInput-inputMultiline,
.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-filled.MuiFormLabel-filled,
.sendbird-message-input--edit-action__cancel.sendbird-button.sendbird-button--secondary.sendbird-button--small:hover .sendbird-button__text.sendbird-label.sendbird-label--button-1.sendbird-label--color-oncontent-1,
.sendbird-message-input .sendbird-button__text.sendbird-label.sendbird-label--button-1.sendbird-label--color-oncontent-1{
  color: white !important; 
}

/* .MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputMultiline.MuiFilledInput-inputMultiline,
.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-filled.MuiFormLabel-filled{
  color:white;
} */

.sendbird-modal__footer .sendbird-button.sendbird-button--secondary.sendbird-button--big{
  margin-right: 15px;
} 