body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;}

.server-headline{
  font-family : "Ginto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size : 15px;
  font-style :normal;
  font-weight: 600;
  background-color: #2f3136;
  color: white;
  margin: 0 ;
  padding: 22px 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.app-wrapper {
  height: calc(100vh - 20px);
}

.customized-app {
  height: 100%;
  width: 100%;
}

.channel-selector {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.channel-selector__icons {
  display: flex;
}

.MuiCard-root {
  overflow: revert !important;
}

/* on hover of channel in channel list */
.private-channel-list .MuiCardHeader-root:hover {
  background-color: var(--sendbird-light-background-50) !important;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  padding: 14px;
  margin-top: 10px;
  width: 90%;
}

.private-channel-list .MuiCardHeader-root {
  width: 90%;
  padding: 14px !important;
  margin-top: 10px !important;
}

/* private channel list private channel wrap */
.customized-channelpreview-item .MuiPaper-root.MuiCard-root.MuiPaper-elevation1{
  background-color: #2f3136 ;
  color: rgb(155, 151, 151);
  width: 90%;
  margin-left: 10px;
}

/* private channel list only selected group's box */
.customized-channelpreview-item .MuiPaper-root.MuiCard-root.makeStyles-selected-1.MuiPaper-elevation1{
  background-color: var(--sendbird-light-background-50) !important;
  color: white !important;
  border-radius: 4px;
  margin-top: 10px !important;
  width: 90% !important;
}

/* incoming message entire wrap on hover*/
.user-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded:hover {
  background-color: rgb(63, 67, 73) ;
  width: 100%;
  padding: 5px;
}

/* incoming message entire wrap */
.user-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
  background-color: rgb(71, 74, 80);
  color: white;
  padding: 5px;
}

/* user message's text */
.user-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded .MuiCardContent-root{
  padding: 0px 40px;
}

/* user message's name */
.user-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded .MuiCardHeader-root{
  margin-bottom: 2px;
  padding: 0;
}

.sendbird-conversation__messages .sendbird-conversation__scroll-container .sendbird-conversation__messages-padding {
  padding-left: 15px;
}

.sendbird-channel-list__body .MuiAvatar-img{
  display: none;
}

.sendbird-channel-list__body .MuiCardHeader-avatar{
  margin-right: 0 !important;
}

/* private channel wrap behind list of channel sidebar */
.private-channel-list{
  display: flex;
  height: 99vh;
  flex-direction: column;
  font-family : "Ginto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight :600;
  background-color: #2f3136;
  color:  rgb(155, 151, 151);
  flex: 1;
}

/* private channels list header */
.private-channel-list__title {
  padding: 20px 24px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 900;
  color: rgb(155, 151, 151) !important;
  background-color: #2f3136 ;
  border-bottom: 1px solid var(--gray-1);
  text-transform: uppercase;
}

/* private channel preview name in channel list*/

/* .customized-channelpreview-item .MuiTypography-root.MuiCardHeader-title.MuiTypography-body2.MuiTypography-displayBlock{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 210px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
} */

/* users name in chat window's on top of msg sent */
.user-message .MuiCardHeader-content .MuiTypography-root.MuiCardHeader-title.MuiTypography-body2.MuiTypography-displayBlock{
  text-transform: none !important;
}

/* private channel message preview content */
.sendbird-channel-list__body .MuiTypography-root.MuiTypography-caption.MuiTypography-colorTextSecondary{
  display: none;
}

/* private channel's chat window */
.group-channel__conversation-wrap {
  flex: 1;
  /* background-color: #2f3136; */
}

/* settings button for private channels on sidebar */
.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeSmall{
  display: none;
}

/* outgoing chat message */
.sendbird-user-message--outgoing{
  display: flex !important;
  width: 100%;
}

/* timestamp on message */
.sendbird-message-status__text.sendbird-label {
  float: right !important;
}

/* message box wrapper */
.sendbird-user-message__text-balloon{
  width: 100% !important;
}

/* box only around text for outgoing msg*/
.sendbird-user-message__text-balloon__inner__text-place__text.sendbird-label.sendbird-label--body-1.sendbird-label--color-oncontent-1{
  display: "" !important;
}

.sendbird-reaction-badge .sendbird-reaction-badge__inner{ 
  background-color: rgb(54, 57, 63) !important;
  border-radius: 10px;
}

.sendbird-user-message--incoming{
  max-width: 100% !important;
}

/* timestamp incoming message */
.sendbird-user-message__sent-at.sendbird-label.sendbird-label--caption-3.sendbird-label--color-onbackground-2,
.sendbird-user-message--incoming .sendbird-user-message__right-padding .sendbird-user-message__sent-at{
  bottom: revert !important;

}

.sendbird-user-message--incoming .sendbird-user-message__avatar{
  bottom: revert !important;
}

/* insert content before the channel preview name in channel list*/
.customized-channelpreview-item .MuiAvatar-root.MuiAvatar-circular::before{
  content: "#" !important;
}

.customized-channelpreview-item .MuiAvatar-root.MuiAvatar-circular{
  width: 15px !important;  
  -webkit-transform:scale(1.8,1.2);
  -moz-transform:scale(1.8,1.2);
  -ms-transform:scale(1.8,1.2);
  -o-transform:scale(1.8,1.2);
  transform: scale(1.8,1.2);
  height: 20px;
  font-weight: 350;
  font-family: "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.user-message .MuiCardHeader-avatar .MuiAvatar-root.MuiAvatar-circular .MuiAvatar-img{
  display: table-cell;
  width: 28px;
  height: 28px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
  
}

.user-message .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded .MuiCardHeader-root .MuiCardHeader-avatar {
  margin-right: 0px;
}

.MuiPaper-root.MuiCard-root.MuiPaper-elevation1 .MuiAvatar-root {
  height: revert;
  overflow: visible !important;
}

/* wrap around avatar img tag */
.MuiCardHeader-avatar .MuiAvatar-root.MuiAvatar-circular{
  display: revert;
}

/* avatar img in chat conversation */
.sendbird-chat-header .sendbird-chat-header--avatar--group-channel.sendbird-avatar::before{
  content: "#" !important;
}

/*  group channel's conversation header # */
.sendbird-chat-header .sendbird-chat-header--avatar--group-channel.sendbird-avatar{
  color: #72767d;
  height: revert !important;
  width: revert !important;
  padding-left: 15px;
  padding-right: 10px;
  -webkit-transform:scale(1.8,1.2);
  -moz-transform:scale(1.8,1.2);
  -ms-transform:scale(1.8,1.2);
  -o-transform:scale(1.8,1.2);
  transform:scale(2.6,1.6);
  font-weight: 350;
}

/* chat header wrap */
.sendbird-chat-header {
  padding: 23px 20px !important;
  border-bottom: 1px solid var(--sendbird-light-onlight-04) !important;
}

/* channel conversation header text */
.sendbird-chat-header__left__title.sendbird-label.sendbird-label--h-2.sendbird-label--color-onbackground-1{
  padding-left: 8px;
}

/* private channel preview name  */
.MuiTypography-root.MuiCardHeader-title.MuiTypography-body2.MuiTypography-displayBlock{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 210px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -0.2px;
}

/* private channels wrapper box */
.sendbird-channel-list{
  background-color: revert !important;
}

.MuiPaper-elevation1{
  box-shadow: revert !important;
}

.sendbird-conversation__footer{
  margin-top: 20px;
}

.sendbird-chat-header .sendbird-chat-header--avatar--group-channel.sendbird-avatar .sendbird-avatar-img.sendbird-image-renderer {
  display: none;
}

/* channel text name in list & chat header channel text name*/
.MuiCardHeader-root .MuiCardHeader-content .MuiTypography-root.MuiCardHeader-title.MuiTypography-body2.MuiTypography-displayBlock,
.sendbird-chat-header__left__title.sendbird-label.sendbird-label--h-2.sendbird-label--color-onbackground-1{
  text-transform: lowercase;
}

.sendbird-message.sendbird-message--incoming{
  width: 1186px;
}

/* settings sidebar */
.sendbird-app__settingspanel-wrap{
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(71, 74, 80); 
  overflow-x: hidden;  
}

/* private channel settings, member count */
.sendbird-channel-settings__members-list.sendbird-accordion__panel-header .sendbird-badge{
  position: revert;
  margin-left: 10px;
}

/* private channel settings, options drop downs*/
.sendbird-channel-settings__operators-list.sendbird-accordion__panel-header,
.sendbird-channel-settings__members-list.sendbird-accordion__panel-header,
.sendbird-channel-settings__muted-members-list.sendbird-accordion__panel-header,
.sendbird-channel-settings__banned-members-list.sendbird-accordion__panel-header{
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  padding: 12px 22px 10px 56px;
}

/* private channel settings, options drop down icons*/
.sendbird-channel-settings__accordion-icon.sendbird-icon.sendbird-icon-color--primary .icon-members_svg__fill,
.sendbird-channel-settings__accordion-icon.sendbird-icon.sendbird-icon-color--primary .icon-operator_svg__fill,
.sendbird-channel-settings__accordion-icon.sendbird-icon.sendbird-icon-color--primary .icon-mute_svg__fill,
.sendbird-channel-settings__accordion-icon.sendbird-icon.sendbird-icon-color--primary .icon-ban_svg__fill,
.sendbird-channel-settings__accordion-icon.sendbird-icon.sendbird-icon-color--primary .icon-freeze_svg__fill{
  fill: white;
}

/* private channel settings sidebar, edit button */
.sendbird-channel-profile__edit.sendbird-color--onbackground-1.sendbird-textbutton--not-underline .sendbird-label.sendbird-label--button-1.sendbird-label--color-primary{
  color: revert;
}

/*private channel settings sidebar, on click of edit button -> wrap with editing options */
#sendbird-modal-root .sendbird-modal .sendbird-modal__content{
  background-color: var(--sendbird-light-background-50);;
  padding: 40px;
}

/*private channel settings sidebar, on click of edit button, background behind wrap with editing options  */
#sendbird-modal-root .sendbird-modal{
  background-color: rgba(62, 63, 63, 0.9);
}

/*private channel settings sidebar, on click of edit button -> wrap with editing options */
#sendbird-modal-root .sendbird-modal .sendbird-modal__content .sendbird-modal__footer{
  padding-bottom: 20px;
}

/*private channel settings sidebar, on click of edit button -> save button */
.sendbird-modal__footer .sendbird-button.sendbird-button--primary.sendbird-button--big{
  border: 1px solid var(--sendbird-light-onlight-03) !important; 
  margin-left: 8px;
}

/*private channel settings sidebar, on click of edit button -> cancel button */
.sendbird-modal__footer .sendbird-button.sendbird-button--secondary.sendbird-button--big:hover{
  background-color: var(--sendbird-light-primary-400);
}

/* settings sidebar wrap */
.sendbird-app__settingspanel-wrap .sendbird-channel-settings,
.sendbird-channel-profile,
.sendbird-channel-settings__freeze,
.sendbird-channel-settings__panel-item.sendbird-channel-settings__leave-channel {
  background-color: #2f3136 !important;
}

